html,
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0px 70px 35px rgb(183, 222, 202) inset;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lora', serif;
  /* background-image:linear-gradient(#00539CFF,white); */
  background-image: url('../../images/doctor.jpeg');
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.aboutContainer {
  padding: 20px;
  background-color: rgba(20, 20, 20, .8);
  color: rgb(186, 184, 184);
  line-height: 1.6;
  width: 75%;
  margin: auto;
  margin-bottom: 300px;

  border: 1px solid white;

}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

.registerPageContainer {
  margin: auto
}

.ppic {
  height: 150px;
  min-width:150px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
}


.codePopupContainer {
  border: 1px solid black;
  width: 50%;
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 25%;
  background-color: rgba(155, 155, 155);
  box-shadow: 0px 2px 5px black;
  padding: 15px;
  transition: .3s;
  z-index: -1;
}

.codeInput {
  border-top: none;
  border-bottom: 1px solid black;
  border-left: none;
  border-right: none;
  outline: none;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

.borderhere {
  outline: 1px dashed white;
  padding: 5px 50px;
  background-color: rgba(255, 255, 255, .7);
  color: black;

}

.borderoff {
  outline: none;
}

.hideInput {
  display: none;
}

footer {
  background-color: #282321;
  color: #5bc0a7;

}

.pageContainer {
  padding: 0px 35px;
  margin-bottom: 300px;

}
.pageContainer h1 {
  text-decoration: underline;
}

#profileh1 {
  text-decoration: underline;
  margin-left: 10%;
  font-size: 35px;
}

.profileRightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profileRightContainer table {
  box-shadow: 18px 17px 25px black;
}
.profileRightContainer h2 {
  text-shadow: 0px 0px 5px black, 0px 0px 1px black;
  color: whitesmoke;
  padding: 5px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  box-shadow: 0px 0px 20px inset black;
}

.profileRightContainer table {
  border-collapse: collapse;
  width: 75%;
  outline: 1px solid black;
  background-color: rgba(20, 20, 20, .8);
  color: rgb(186, 184, 184);

}

.profileTableContainer tr th {
  padding: 20px;
}

.profileTableContainer tr td {
  padding: 3px;

}

.profileLeftContainer {
  float: left;
  width: 25%;
  padding: 25px;
  outline: 1px solid black;
  background-color: rgba(20, 20, 20, .8);
  color: rgb(186, 184, 184);
  word-break: break-word;
  box-shadow: 18px 17px 25px black;
}

.profileLeftContainer table {
  background-color: rgba(20, 20, 20, .8);
  color: rgb(186, 184, 184);
}

.searchMainContainer {
  border: 1px solid black;
  color: rgb(204, 199, 199);
  text-shadow: 0px 0px 5px black;
  font-size: 20px;
  line-height: 1.6;
  width: 75%;
  margin: auto;
  outline: 2px solid black;
  outline-offset: 4px;
  box-shadow: 0px 0px 15px black;
  background-color: rgba(20, 20, 20, .8);

}

.searchMainContainer p {
  padding: 20px;
  margin-top: 25px;

}

.searchForm {
  border-top: 1px solid white;
  text-align: center;
  margin-top: 25px;
  padding-top: 20px;

}

.searchForm td {
  color: rgb(204, 199, 199);
  padding: 5px;
  font-size: 20px;

}


.searchForm td:hover {
  cursor: pointer;
  background-color: #224e43;
  color: white;

}

.searchForm button {
  padding: 10px 30px;
  border-radius: 5px;
  border: 1px solid black;
}

.searchForm input {
  padding: 10px 30px;
  border: 1px solid black;
  border-radius: 5px;
}

.fuseContainer {
  margin: auto;
  background-color: rgba(20, 20, 20, .8);
  color: white;
  width: 50%;
}

.buttonResultsContainer {
  width: 100%;
  text-align: center;
}

.buttonResultsContainer button {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
  font-size: 15px;
  margin-top: 20px;
}

.conditionNameStyle {
  text-decoration: underline;
  font-weight: bold;
  text-shadow: 0px 0px 5px white, 0px 0px 1px white;
}

.conditionStyle {
  text-shadow: 0px 0px 5px white, 0px 0px 1px white;
}
.resultContainer {
  width: 75%;
  margin: auto;
  background-color: rgba(20, 20, 20, .8);
  color: rgb(192, 187, 187);
  margin-top: 25px;
}

.resultContainer th {
  padding: 15px;
}

.questionsTable {
  background-color: rgba(20, 20, 20, .8);
  color: rgb(186, 184, 184);
  margin: auto;
  width: 99%;
}

#email {
  margin-right: 10px;
  font-weight: bold;
}

#userName {
  margin-right: 10px;
  font-weight: bold;
}

#userUsername {
  text-decoration: underline;
}

#userEmail {
  text-decoration: underline;
}

#answerQuestionsBtn,
.removeBtn,
#usernameBtn,
#emailBtn {
  cursor: pointer;
}

.ppic:hover,
#answerQuestionsBtn:hover,
#usernameBtn:hover,
#emailBtn:hover,
.removeBtn:hover {
  box-shadow: 0px 0px 10px #5bc0a7;
}

#searchPageh1,
.aboutContainer h1,
.searchPageh2 {
  text-decoration: underline;
  text-align: center;
}

.tdCondition:hover {
  cursor: pointer;
  background-color: rgba(20, 20, 20, .8);
  outline: 1px solid white;
  outline-offset: -2px;
}

.profileTableContainer tr:hover:not(:first-of-type) {
  border-right: 3px solid white;
}

.profileTableContainer:hover {
  border-right: 3px solid rgba(20, 20, 20, .8);
  border-left: 3px solid rgba(20, 20, 20, .8);

}

.removeBtn {
  padding: 3px 1.5px;
}

.buttonHover:hover {
  background-color: #326a5c !important;
  box-shadow: 0px 0px 10px #5bc0a7 !important;
}

.buttonHover:active {
  color: black;
}

.buttonHoverResults:hover {
  background-color: #326a5c !important;
  box-shadow: 0px 0px 10px #5bc0a7 !important;
  border: 1px solid black !important;
}

.profileTableContainer thead th {
  font-size: 25px;
}

.profileTableContainer td {
  font-size: 18px;
}

.whitebox {
  padding: 20px;
  background-color: rgba(20, 20, 20, .8);
  color: rgb(186, 184, 184);
  line-height: 1.6;
  width: 75%;
  margin: auto;
}

.resultsh1Container {
  text-align: center;
}

.resultsresults {
  font-size: 40px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  text-shadow: 0px 0px 5px white, 0px 0px 1px white;
}

.centerButton {
  text-align: center;
  margin: auto;
  width: 100%;
}

.socials {
  color: white;
  text-decoration: underline;
  background-color: black;
  border: 1px solid white;
  border-radius: 25% 25px;
  padding: 10px;
  margin-left: 10px;
}

.socials:hover {
  color: black;
  background-color: white;
}

.profContainer {

  padding-bottom: 200px;
}

.searchInput {
  border: 0px solid black;
  outline: 1px solid black;
  margin: 0;
  margin-right: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #7fe0c8;
}

.searchInput:focus {
  border: 0px solid black;
  outline: 1px solid black;
  background-color: #5bc0a7;
  margin: 0;
  border-radius: 5px;
  margin-right: 20px;

}
.firstHidden {
  visibility: hidden;
  display: none !important;
}
.nowShow {
  visibility: visible;
}

@media only screen and (max-width: 700px) {
  .profileLeftContainer {
    float: none;
    width: 75%;
    margin:auto;
    padding: 25px;
    outline: 1px solid black;
    background-color: rgba(20, 20, 20, .8);
    color: rgb(186, 184, 184);
    word-break: break-word;
  }
  #profileh1 {
    margin: auto;
    text-align: center;
    font-size: "";    
    margin-top:-25px;
  }
  .profileLeftContainer form {
    text-align: center;

  }
  .socials {
    color: white;
    text-decoration: underline;
    background-color: black;
    border: 1px solid white;
    border-radius: 20% 20%;
    margin-bottom: 10px;
    display: inline-flex;
  }
  .whitebox, .aboutContainer {
    width:auto;
  }
  .profileRightContainer h2 {
    margin-top:35px;
  }
  footer {
    display:none;
  }
}

#profileh1, .searchPageh2  {
  text-shadow: 0px 0px 5px white, 0px 0px 1px white;
}
.loginDiv {
  margin-bottom: 300px;
}
